@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
#whole-cont {
  display: flex;
  justify-content: center;
}
#m-r-cont {
  display: flex;
  width: 990px;
  justify-content: space-between;
}
/*-------------------------------- LEFT-SECTION ----------------------------------*/

#left-container {
  display: flex;
  width: 275px;
  border-right: 1px solid rgb(239, 243, 244);
}
#left {
  position: fixed;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
#left-top {
  display: flex;
  flex-direction: column;
}
#left1 {
  display: flex;
  width: 259px;
}
.logo-cont {
  margin-top: 2px;
  padding: 12px;
  width: fit-content;
}
.logo {
  display: flex;
  height: 1.9rem;
}
.logo-cont:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
#left2 {
  width: 259px;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 4px;
}
.i-txt-a {
  width: 259px;
  border-radius: 50px;
  display: flex;
  text-decoration: none;
  color: black;
}
.i-txt {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 12px;
  transition-duration: 0.2s;
}
.i-txt span {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 16px;
}
.i-txt-a:hover .i-txt {
  transition-duration: 0.2s;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}
.l-icon {
  display: flex;
  justify-content: center;
  height: 1.65rem;
}
.h-blue-cont {
  display: flex;
}
.blue-dot {
  width: 7px;
  height: 7px;
  background-color: rgb(29, 155, 240);
  position: relative;
  border-radius: 50%;
  left: 18px;
  bottom: 4.5px;
}
.notifi-cont {
  display: flex;
}
.notifi-dot {
  width: 17px;
  height: 17px;
  background-color: rgb(29, 155, 240);
  position: relative;
  border-radius: 50%;
  left: 13px;
  bottom: 4px;
  border: 1px solid white;
}
.notifi-svg {
  margin-left: -17px;
}
.notifi-dot > p {
  font-family: sans-serif;
  display: flex;
  margin-top: 2px;
  justify-content: center;
  width: 100%;
  height: 12px;
  color: white;
  font-size: 10px !important;
}
.h-svg {
  margin-left: -7px;
}
.h-txt {
  font-weight: bold;
}
#left3 {
  display: flex;
  width: 259px;
}
.post-btn-a {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-height: 52px;
  min-width: 52px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgb(29, 155, 240);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  padding-left: 32px;
  padding-right: 32px;
}
.post-btn {
  display: flex;
  color: white;
  font-size: 17.5px;
  font-weight: 700;
}
.post-btn-a:hover {
  background-color: rgb(23, 137, 213);
  transition: 0.2s ease-in-out;
}
#left-bottom {
  margin-bottom: 12px;
  margin-top: 12px;
}
#bottom-a {
  max-width: 259px;
  border-radius: 50px;
  padding: 12px;
  display: flex;
  text-decoration: none;
  color: black;
}
#bottom-a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.img-cont {
  background-image: url(./assests/profile-pic.png);
  background-size: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
}
.user-name {
  font-size: 15px;
  font-weight: 700;
}
.user-username {
  line-height: 20px;
  font-size: 15.5px;
  color: rgb(83, 100, 113);
  letter-spacing: -0.2px;
}
.dots-cont {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.three-dots {
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2em;
  font-weight: bolder;
}
/*-------------------------------- MID-SECTION ----------------------------------*/

#mid-container {
  display: flex;
  max-width: 600px;
}
#mid {
  border-right: 1px solid rgb(239, 243, 244);
  display: flex;
  flex-direction: column;
}
.mid-top-h {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -0.5px;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgb(239, 243, 244);
}
.mid-top-h > h2 {
  cursor: pointer;
  width: 600px;
  display: flex;
  align-items: center;
  height: 53px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
}
.mid-top-cont {
  max-width: 600px;
  font-size: 15px;
  display: flex;
}
.mid-top-cont a {
  flex-grow: 1;
}
.mid-top1,
.mid-top2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding-right: 16px;
  padding-left: 16px;
  transition-duration: 0.2s;
}
.mid-top1:hover,
.mid-top2:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
}

.mid-top2 {
  color: rgba(83, 100, 113, 0.85);
}
.top1-in,
.top2-in {
  padding-top: 16px;
  padding-bottom: 20px;
  position: relative;
}
.top-h-line {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 4px;
  min-width: 56px;
  width: 100%;
  border-radius: 50px;
  background-color: rgb(29, 155, 240);
  margin-bottom: 1px;
}
.line-display {
  display: none;
}
.post-section {
  width: 600px;
  padding-top: 4px;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.input-cont {
  display: flex;
  padding: 0px 16px 0px;
}
.post-img {
  padding-top: 12px;
  margin-right: 12px;
}
.post-input {
  margin-top: 6px;
  padding: 12px 0;
  resize: none;
  flex-grow: 1;
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
}
.post-input::-webkit-scrollbar {
  display: none;
}
.p-svgs {
  display: flex;
  width: 100%;
  line-height: 53px;
}
.p-button-svgs {
  width: 520px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  margin-left: -7px;
}
.post-svg {
  margin-top: 6px;
  margin-bottom: 6px;
  fill: rgb(29, 155, 240);
  cursor: pointer;
  height: 36px;
  width: 36px;
  padding: 8px;
}
.post-svg:hover {
  background-color: rgba(29, 156, 240, 0.1);
  border-radius: 50%;
}
.p-button {
  background-color: rgb(29, 155, 240);
  display: flex;
  align-items: flex-end;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 18px;
  border-radius: 50px;
  margin-left: 12px;
  cursor: pointer;
  margin-bottom: 8px;
}
/* .o-5 {
  opacity: 0.5;
} */
.main-content {
  width: 600px;
}
.post-anythingElse {
  display: flex;
}
.posts-img {
  background-image: url(./assests/profile-pic.png);
  background-size: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 10px 0px 0px 10px;
}
.isro-img {
  background-image: url("https://pbs.twimg.com/profile_images/1600118046743359488/C1_k11I7_400x400.jpg");
}
.elonmusk-img {
  background-image: url("https://pbs.twimg.com/profile_images/1683325380441128960/yRsRRjGO_400x400.jpg");
}
.nikhil-img {
  background-image: url("https://pbs.twimg.com/profile_images/1695149926127165440/OOc49vMc_400x400.jpg");
}
.malhotra-img {
  background-image: url("https://pbs.twimg.com/profile_images/1688836844866449408/mQaaGCsG_400x400.jpg");
}
.chitkara-img {
  background-image: url("https://pbs.twimg.com/profile_images/1554701241019539456/CUIiPyAg_400x400.jpg");
}
.user-detail {
  display: flex;
}
.user-post-name {
  font-weight: 700;
  margin: 5px 0px 0px 10px;
}
.user-id {
  margin: 5px 0px 0px 5px;
  color: rgb(83, 100, 113);
}
.post-date {
  color: rgb(83, 100, 113);
}
.user-detail a {
  text-decoration: none;
  color: black;
}
#Post {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-width {
  width: 90%;
  word-break: break-all;
}
.user-detail {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  padding-right: 20px;
  cursor: pointer;
  background-color: white;
}
.hamburger-icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.menu-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
}
.hamburger-menu:hover .menu-options {
  display: block;
}
.post-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hamburger-menu {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.ellipsis-icon {
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}
.menu-options {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0px 5px 5px 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
}
.hamburger-menu:hover .menu-options {
  display: block;
  z-index: 1;
}
.edit-button,
.delete-button,
.save-button {
  width: 100%;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 4px;
}
.edit-button:hover,
.delete-button:hover,
.save-button:hover {
  background-color: rgba(128, 128, 128, 0.15);
}
.post-actions {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  cursor: pointer;
  color: rgb(83, 100, 113);
  margin-top: 20px;
}
.post-act {
  box-sizing: content-box;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 5px;
  border-radius: 50%;
  padding: 10px;
}
.comments,
.repost,
.likes,
.impressions {
  fill: rgb(83, 100, 113);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 24px;
}
.comments:hover .post-act {
  background-color: rgb(29, 155, 240, 0.1);
  fill: rgb(29, 155, 240);
}
.comments:hover span {
  color: rgb(29, 155, 240);
}
.repost:hover .post-act {
  background-color: rgba(0, 186, 124, 0.1);
  fill: rgba(0, 186, 124);
}
.repost:hover span {
  color: rgba(0, 186, 124);
}
.likes:hover .post-act {
  background-color: rgba(249, 24, 128, 0.1);
  fill: rgba(249, 24, 128);
}
.likes:hover span {
  color: rgba(249, 24, 128);
}
.impressions:hover .post-act {
  background-color: rgb(29, 155, 240, 0.1);
  fill: rgb(29, 155, 240);
}
.impressions:hover span {
  color: rgb(29, 155, 240);
}
.share:hover .post-act {
  background-color: rgb(29, 155, 240, 0.1);
  fill: rgb(29, 155, 240);
}
.share:hover span {
  color: rgb(29, 155, 240);
}

/*-------------------------------- RIGHT-SECTION ----------------------------------*/

#right-container {
  max-width: 350px;
  margin-right: 10px;
  margin-bottom: 90px;
  position: sticky;
  top: 0;
}
#right {
  display: flex;
  flex-direction: column;
}
#right1 {
  position: sticky;
  top: 0px;
  margin-bottom: 12px;
}
.search-input {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  background-color: white;
}
.svg-input-cont {
  max-width: 350px;
  flex-grow: 1;
  display: flex;
  background-color: rgb(239, 243, 244);
  border-radius: 50px;
  padding: 12px;
}
.svg-input-click {
  background-color: white;
  border: 1px solid rgb(29, 155, 240);
}
.search-svg {
  fill: rgb(83, 100, 113);
  min-width: 32px;
  height: 1.25em;
}
.search-svg-click {
  fill: rgb(29, 155, 240);
}
.s-input {
  width: 100%;
  outline: none;
  padding-left: 12px;
  border-radius: 50px;
  font-size: 15px;
  background-color: rgb(239, 243, 244);
  border: none;
}
.s-input-click {
  background-color: white;
}
.s-input::placeholder {
  color: rgb(83, 100, 113);
  font-weight: lighter;
}
#right2,
#right3 {
  margin-bottom: 16px;
  background-color: rgb(247, 249, 249);
  border-radius: 20px;
}
.right2-head,
.right3-head {
  display: flex;
  padding: 16px 16px;
  font-size: 18px;
  font-weight: 800;
}
.right2-head span,
.right3-head span {
  font-family: Verdana, sans-serif;
}
.right-cont-img {
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
  padding: 12px 16px;
  transition-duration: 0.2s;
}
.right-cont-img:hover {
  background-color: rgb(239, 243, 244);
  cursor: pointer;
  transition-duration: 0.2s;
}
.r-text {
  display: flex;
  flex-direction: column;
}
.r1,
.r3 {
  display: flex;
  font-size: 13px;
  color: rgb(89, 102, 112);
}
.r-img {
  background-image: url("https://pbs.twimg.com/semantic_core_img/1692227395300831261/VF_KpTex?format=jpg&name=240x240");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  height: 68px;
  width: 68px;
}
.r2 {
  line-height: 30px;
  font-weight: 700;
  font-size: 15px;
}
.r3 span {
  color: rgb(29, 155, 240);
  padding-left: 3px;
}
.r3 span:hover {
  text-decoration: underline;
}
.r-dots-cont {
  display: flex;
  align-items: flex-start;
}
.r-dots {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: rgb(89, 102, 112);
  font-size: 18px;
}
.r-dots:hover {
  color: rgb(29, 155, 240);
  background-color: rgba(29, 156, 240, 0.1);
  border-radius: 50%;
}
.show-more {
  padding: 16px;
  font-size: 15px;
  color: rgba(29, 156, 240, 0.85);
  transition-duration: 0.2s;
}
.show-more:hover {
  background-color: rgb(239, 243, 244);
  cursor: pointer;
  border-radius: 0 0 20px 20px;
  transition-duration: 0.2s;
}
.right3-a .user-name {
  display: flex;
}
.right3-a {
  transition-duration: 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right3-a:hover {
  background-color: rgb(239, 243, 244);
  cursor: pointer;
  transition-duration: 0.2s;
}
.r3-c {
  display: flex;
}
.r3-c .user-name:hover {
  text-decoration: underline;
}
.blue-tick {
  height: 20px;
  margin-left: 4px;
}
.right3-img1 {
  background-image: url("https://pbs.twimg.com/profile_images/1562753500726976514/EPSUNyR3_400x400.jpg");
  background-size: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.right3-img2 {
  background-image: url("https://pbs.twimg.com/profile_images/1690576338342797312/BEBMrI0K_400x400.jpg");
  background-size: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.right3-img3 {
  background-image: url("https://pbs.twimg.com/profile_images/1650662335323963392/JjrIJIKr_400x400.jpg");
  background-size: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.right3-a {
  max-width: 350px;
  padding: 12px;
  display: flex;
  text-decoration: none;
  color: black;
}
.who-follow {
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: white;
  background-color: rgb(15, 20, 25);
}
#right-bottom {
  display: flex;
  width: 350px;
  padding: 0 16px;
  flex-wrap: wrap;
}
#right-bottom a,
#right-bottom span {
  display: flex;
  font-size: 13px;
  padding-right: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
  color: rgba(83, 100, 113, 0.85);
}
#right-bottom a:hover {
  text-decoration: underline;
}
/*------------ MESSAGE BOX ---------- */

.message-box {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}
.msg-cont {
  display: flex;
  height: 53px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 0px 15px rgba(101, 119, 134, 0.2),
    0px 0px 3px 1px rgba(101, 119, 134, 0.15);
  padding: 0 16px;
  min-width: 350px;
  width: 400px;
  flex-grow: 1;
}
.msg-cont span {
  font-weight: 700;
  font-size: 20px;
}
.msg-svg,
.up-svg {
  height: 20px;
  min-width: 36px;
  cursor: pointer;
}

/*---------------------------- MEDIA QUERIES ---------------------------------*/

@media (max-width: 1280px) {
  #left-container {
    width: 100px;
  }
  .i-txt-a span {
    display: none;
    width: 10%;
  }
  .post-btn-a {
    width: 10%;
  }
  #left-bottom .user-profile {
    display: none;
  }
  #left-bottom .three-dots {
    display: none;
  }
}
@media (max-width: 1070px) {
  #m-r-cont {
    display: flex;
    width: 990px;
    justify-content: center;
  }
  #right-container {
    width: 300px;
    margin-left: 20px;
  }
  .right-cont-img {
    width: 300px;
  }
  .msg-cont {
    width: 300px;
  }
  .svg-input-cont {
    max-width: 300px;
  }
  #right2,
  #right3 {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  #right-container {
    display: none;
  }
  #m-r-cont {
    max-width: 620px;
  }
  .message-box {
    display: none;
  }
}
@media (max-width: 700px) {
  #m-r-cont {
    max-width: 300px;
  }
  #mid-container {
    max-width: 300px;
  }
  #whole-cont {
    display: flex;
    justify-content: flex-start;
  }
}
